<!-- <% provide(:title, "Home") %>
  <h1>Property Management App</h1>
  <p>
    This is the home page for the
    <a href="http://www.propman.my/">PropMan, The Property Management</a>
    application.
  </p> -->
  <% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="property_form">
          <%= render 'shared/property_form' %>
        </section>
      </aside>
      <div class="col-md-8">
      <h3>Property Feed</h3>
        <%= render 'shared/feed' %>
    </div>
    </div>
  <% else %>
    <div class="center jumbotron">
      <h1>Welcome to PropMan the Property Management App</h1>

      <h2>
        This is the home page for the
        <a href="http://www.propman.my/">PropMan Property Management</a>
        web application.
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

      <%= link_to image_tag("propman.png", alt: "PropMan logo"), 'http://github.com/ajmalnabil/' %>
  <% end %>
